*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*body{
    height: fit-content;
    overflow-x: hidden;
}*/

.container{
    width: 100%;
    min-height: 100vh;
    background: #ccc;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 40px;
    text-align: center;
    gap: 3rem;
    padding: 30px 20px;
    font-family: 'poppins'sans-serif;
}
.navbar{
    background: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    text-align: center;
    width: 100%;
}
.navbar a:hover{
    background: #494949;
}
.navigate a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.navigate ul{
    display: flex;
    gap: 20px;
}

#name{
    padding-top: 20px;
}

.navigate a:active{
    text-decoration: overline burlywood;
    color: grey;
}

#about p{
    width: 30rem;
}

.project img {
    width: 10%;
    height: auto;
}
.project{
    display: grid;
    gap: 2rem;
}
#proj{
    border: groove thin #757575;
    padding: 20px;
    width: 70rem;
    box-shadow: 0 0 3px;
}
h2{
    margin-bottom: 30px;
    font-size: xx-large;
}
div a img{
    border-radius: 10%;
    box-shadow: 0 0 3px;
}
div a img:hover{
    background: #cf2525;
    color: transparent;
}
#p{
  font-weight: bold;  
}
#back{
    background: #333;
    color: #ccc;
    text-align: center;
    font-style: oblique;
    padding-bottom: 10px;
}
#back a{
    color: #ccc;
    text-decoration: none;
    padding-left: 1250px;
    font-weight: bold;
}
#back a:hover{
    color: #fff;    
}
#contact p a{
    text-decoration: none;
    color:#f38686;
}

/*@media (min-width: 200px){
    body{
        overflow-x: hidden;
        height: fit-content;
    }

    .navbar{
        height: 4rem;
    }

    .navigate{
        display: flex;
        padding: 0 10px;
    }

    .navigate ul{
        gap: 9px;
    }

    .container{
        width: 100%;
        padding: 10px 40px;
    }

    #proj{
        width: 20rem;
    }

    #about p{
        padding: 10px 80px;
    }

    #name{
        font-size: large;
        width: fit-content;
        padding-top: 25px;
        text-align: center;
    }
}

  
