*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background: #ccc;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 40px;
    text-align: center;
    gap: 3rem;
    padding: 30px 20px;
    font-family: 'poppins'sans-serif;
}
.navbar{
    background: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
}
.navbar a:hover{
    background: #494949;
}
.navigate a{
    display: inline-block;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 1rem;
}
.navigate a:active{
    text-decoration: overline burlywood;
    color: grey;
}
.project img {
    width: 10%;
    height: auto;
}
.project{
    display: grid;
    gap: 2rem;
}
#proj{
    border: groove thin #757575;
    padding: 20px;
    width: 70rem;
    box-shadow: 0 0 3px;
}
h2{
    margin-bottom: 30px;
    font-size: xx-large;
}
div a img{
    border-radius: 10%;
    box-shadow: 0 0 3px;
}
div a img:hover{
    background: #cf2525;
    color: transparent;
}
#p{
  font-weight: bold;  
}
#back{
    background: #333;
    color: #ccc;
}
#back a{
    color: #ccc;
    text-decoration: none;
    padding-left: 1250px;
    font-weight: bold;
}
#back a:hover{
    color: #fff;    
}

  
